/* Color variables */
$background: #1D1D28;
$boxgradient: linear-gradient(180deg, #2A2B30 0%, rgba(0, 148, 255, 0) 100%);
$text_gradient: linear-gradient(180deg, #FFFF00, 89%, #0094FF, 91%);
$white: rgba(255, 255, 255, 0.9);
$yello_title: rgba(255, 255, 0, 0.9);
$blue_link: rgba(0, 148, 255, 0.9);


@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Bitter', serif;
    font-family: 'Space Mono', monospace;
}
body {
    background-color: $background;
    padding: 0 10px;
}

/* HEADER */
/* Definir size and header color*/
.header {
    width: 100%;
    height: 200px;
    background-color: $background;
    margin: 10px 0;
}
/* Style for navbar */
.header__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Nav fixed*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    transition: 0.8s;
    /* DemetroCN style */
    p {
        font-family: 'Space Mono', monospace;
        font-size: 2.4rem;
        font-weight: 600;
        color: $white;
        margin-left: 10px;
    } 
}
/* Menu button for mobile */
.menubar {
    display: none;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    text-align: center;
}
.menubar i {
    font-size: 40px;
    color: $white;
}
.menubar:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}
/* Nav bar style for desktop screen */
.nav ul {
    list-style-type: none;
    width: 300px;
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav ul a {
    color: $white;
    font-size: 2.4rem;
    text-decoration: none;
}
.nav ul a:hover {
    color: $yello_title;
    font-size: 2.6rem;
}

/* Navbar style for sticky scroll */
.header__top.sticky .menubar i{
    color: black;
}
.header__top.sticky p {
    color: black;
}
.header__top.sticky {
    background-color:$yello_title;
}
.header__top.sticky .nav ul li a {
    color: black;
}
.header__top.sticky .nav ul li a:hover {
    font-size: 2.6rem;
    font-weight: 600;
}
/* Introduce */
.header__bottom {
    width: 100%;
    height: 150px;
    max-width: 500px;
    @include centering;
    margin: 0 auto;
    padding-top: 100px;
    h1 {
        width: 80%;
        font-family: 'Space Mono', monospace;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        background: -webkit-linear-gradient(#FFFF00, #0094FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/* Main style, start with portfolio section */
.section_title {
    display: inline-block;
    font-size: 2.4rem;
    color: $white;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px 0;
    background-color: #0094FF;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
main {
    margin-bottom: 70px;
}
.main__article {
    margin-top: 20px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center center;
}
/* Portfolio section: Web sites constructed */
.article {
    width: 300px;
    background: linear-gradient(180deg, #2A2B30 0%, rgba(0, 148, 255, 0.1) 100%);
    border-radius: 5px;
    margin-bottom: 10px;
    .article__title {
        text-align: center;
        width: 100%;
        height: 50px;
        font-family: 'Space Mono', monospace;
        font-size: 1.8rem;
        font-weight: 700;
        font-style: normal;
        color: $yello_title;
        padding:10px 0;
    }
    .article__figure {
        width: 300px;
        height: 230px;
        img {
            width: inherit;
            height: inherit;
        }
    }
    .article_links {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $blue_link;
            font-size: 1.6rem;
            font-family: 'Space Mono', monospace;
            font-weight: 400;
            margin: 10px;
            text-decoration: none;
        }
    }
}

/* Footer section style */
.footer {
    width: 100%;
    height: auto;
    @include centering;
    flex-direction: column;
}

.footer__list {
    display: flex;
    align-items: center;
    height: 75px;
    list-style: none;
}
.footer__list--link {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}
.footer__list--link figure{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
        width: inherit;
        height: inherit;
    }
}
.footer__list--link p {
    font-size: 1.2rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
    color: $white;
}
p {
    height: 50px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
    color: $white;
}

/* Media queries section */
@media screen and (min-width:800px) {
    body {
        width: 70%;
        margin: 0 auto;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footer__list li{
        margin-right: 50px;
    }
    .header__top {
        padding: 0 100px;
    }
    .header__bottom {
        padding-top: 100px;
    }
    
}

/* Media querie for small screen's */
@media only screen and (max-width: 800px) {
    /* Nav bar */
    .nav {
        display: none;
    }
    .menubar {
        display: inline-block;
        margin-right: 10px;
    }
    .header {
        padding: 10px;
    }
    /* Navigation bar style for small screen that appear after click on the bar button. */
    .newNavCSS {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        height: 130px;
        background-color: $background;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 10px 10px;
    }
    .newNavCSS ul {
        display: flex;
        flex-direction: column;
    }
    .newNavCSS ul li {
        list-style: none;
        margin: 10px 0;
        text-align: center;
    }
    .newNavCSS ul li a {
        font-size: 2.4rem;
        text-decoration: none;
        background: -webkit-linear-gradient(#FFFF00, #0094FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .newNavCSS ul li a:hover {
        font-weight: 600;
    }
}



  
